{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container text-center mt-5">
  <h1>Chat Room: {{ room_name }}</h1>
  <form id="chat-form">
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <button type="submit">Enter</button>
    {{ room_name|json_script:"room-name" }}
  </form>
  <div id="messages"></div>
</div>
{% endblock body %}

{% block scripts %}
  <script src="{% static 'room.js' %}"></script>
{% endblock scripts %}