:root {
  --bg-primary: hsl(210, 12%, 17%);
  --bg-secondary: hsl(210, 18%, 13%);
  --bg-third: hsl(210, 24%, 9%);
  --bg-forth: hsl(210, 24%, 6%);
  --fg-primary: hsl(222, 5%, 58%);
  --fg-secondary: hsl(225, 5%, 83%);
  --brand: hsl(191, 67%, 49%); 
  --brand-hover: hsl(191, 76%, 39%);
  --white: hsl(0, 0%, 100%);
  --white-hover: hsl(0, 0%, 90%);
  --black: hsl(0, 0%, 0%);
  --black-light: hsl(0, 0%, 7%);
  --red: hsl(0, 100%, 50%);
  --red-hover: hsl(0, 100%, 40%);
  --red-error: hsl(354, 70%, 54%);
  --green: hsl(120, 100%, 50%);
  --green-hover: hsl(120, 100%, 40%);

  --avatar-size: 50px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-primary);
  color: var(--fg-primary);
}

a{
  color: var(--brand);
  text-decoration: none;
}

a:hover{
  color: var(--brand-hover);
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-strech{
  display: flex;
  justify-content: space-between;
}

/* Property classes */
.fg-primary {
  color: var(--fg-primary)
}

.fg-white, .fg-white:hover {
  color: var(--white);
}

.fg-brand {
  color: var(--brand);
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

.bg-third {
  background-color: var(--bg-third) !important;
}

.bg-light-black{
  background-color: var(--black-light) !important;
}

.fs-11{
  font-size: 1.1rem;
}

.fs-12{
  font-size:1.2rem;
  font-weight: 500;
}

.fs-13{
  font-size:1.3rem;
  font-weight: 600;
}

.mr-1 {
  margin-right: 0.25em;
}

.ml-1 {
  margin-left: 0.25em;
}

.mr-2 {
  margin-right: 0.5em;
}

.ml-2 {
  margin-left: 0.5em;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.clickable {
  cursor: pointer;
}

/* Navbar */
.navbar{
  background-color: var(--brand);
  border-top: 1px solid var(--brand-hover);
  border-bottom: 1px solid var(--brand-hover);
  font-size: 1.4rem !important;
}

.navbar-link, .navbar-brand {
  color: var(--white) !important;
  white-space: nowrap;
  padding: 0.4em 0.6em !important;
  text-decoration: none;
}

.navbar-brand {
  font-size: 1.5rem !important;
  font-weight: 700;
  margin-right: 0;
}

.navbar-link:hover, .navbar-brand:hover {
  color: var(--white-hover) !important;
  background-color: var(--brand-hover);
}

.navbar-toggler {
  border: 2px solid var(--white) !important;
  padding: 0.2em 0.3em;
}

.navbar-toggler-icon {
  background-image: url("menu_hamburger_icon.svg") !important;
  width: 35px !important;
  height: 35px !important;
}

/* Forms */
.form {
  background: var(--bg-third) !important;
  color: var(--fg-secondary) !important;
  border: 1px solid var(--bg-forth);
  font-size: 1.2rem !important;
  padding: 1em;
  border-radius: 0.5em;
  margin-block: 10vh;
  margin-inline: auto;
  max-width: 28em;
}

.form-control:disabled {
  background-color: inherit;
  opacity: 0.5;
}

.form.error {
  border: 2px solid var(--red-error) !important;
}

.form-input {
  background: var(--bg-primary);
  color: var(--fg-secondary) !important;
  font-size: 1.2rem !important;
  border: 1px solid var(--bg-forth);
  min-width: 16em;
  background-repeat: no-repeat;
}

.form-input:focus {
  border: 1px solid var(--bg-forth);
  background-repeat: no-repeat;
}

.form-input:hover, .form-input:focus{
  background: var(--bg-primary);
  background-repeat: no-repeat;
}

.form-header {
  text-align: center;
}

.error-msg, 
.info-msg {
  position:relative;
  font-size: 1.2rem;
  padding-block: 0.1em;
  margin-top: -0.1em;
  padding-inline: 2em;
  text-align: center;
}

.error-msg {
  color: var(--red-error);
}

.info-msg {
  color: var(--white);
}

.error-mark, .info-mark {
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50%;
  height: 1.6em;
  width: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0.5em;
  right: 0.4em;
}

.error-mark {
  border: 2px solid var(--red-error);
  color: var(--red-error);
}

.info-mark {
  border: 2px solid var(--white);
  color: var(--white);
}

/* Special Screens */
.loading-container, .error-screen, .info-screen {
  margin-top: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.loading-container > .spinner-border {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  vertical-align: -0.125em;
  border: 1.25em solid var(--brand);
  border-right-color: transparent;
  border-radius: 50%;
  animation: .75s linear infinite spinner-border;
}

.error-screen {
  border: 2px dotted var(--red-error) !important;
}

.info-screen {
  border: 2px dotted var(--white) !important;
}

.error-screen > .error-msg,
.info-screen > .info-msg {
  font-size: 1.5rem;
  margin-top: 0;
  padding-block: 2em;
  padding-inline: 2em;
  background-color: var(--bg-secondary);
}

.error-screen > .error-msg > .error-mark,
.info-screen > .info-msg > .info-mark {
  font-size: 1.2rem;
  height: 1.8em;
  width: 1.8em;
  top: 0.5em;
  right: 0.5em;
}

/* Buttons */
.btn-block {
  width: 100%;
}

.btn-primary {
  font-size: 1.3rem;
  background-color: var(--brand);
  border-radius: 1em;
  border: none;
  outline: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:disabled {
  background-color: var(--brand-hover);
}

.btn-chat {
  background-color: var(--black-light);
  font-size: 1.1rem;
}

.btn-chat:hover, .btn-chat:focus, .btn-chat:disabled {
  background-color: var(--black);
}

/* Chat */
.chat-window-container {
  border: 1.5px solid var(--black-light);
  border-radius: 0.25em;
  margin-block: 1em;
  overflow: hidden;
}

.chat-title {
  padding: 0;
  margin: 0;
  background-color: var(--black-light);
  position: relative
}

.btn-show-chats {
  position: absolute;
  top: 0px;
  left: 10px;
  color: var(--white);
  cursor: pointer;
}

.btn-show-chats:hover, .btn-show-chats:focus, .btn-show-chats:active {
  color: var(--white-hover);
}

.message-container,
.chat-sidebar {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.chat-sidebar{
  align-items: center;
}

.message-container-messages,
.chat-sidebar-contacts {
  overflow-y: auto;
  padding-inline: 1em;
} 

.chat-sidebar-buttons,
.btn-chat-toggle-window
 {
  display: flex;
  flex-direction: column;
  padding-inline: 1em;
  width:100%;
}

.message-other{
  justify-content: flex-start;
}

.message-author{
  justify-content: flex-end;
}

.message-avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.card.message-body {
  border: 1px solid var(--bg-secondary);
  min-height: var(--avatar-size);
  color: var(--fg-primary);
}

.chat-last-message {
  max-height: var(--avatar-size);
  overflow: hidden;
}

.message-info{
  color: var(--fg-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-info-title {
  color: var(--white);
  font-weight: bold;
}

.message-files{
  display: inline-block;
}

/* File Upload Container */
.file-upload-container {
  border: 1px solid var(--black-light);
  padding: 0.75em;
  padding-right: 0em;
  border-radius: 0.25em;
  margin-inline: 1em;
  /* overflow: hidden; */
}

.file-upload-container > .btn-chat {
  background-color: inherit;
}

.file-upload-container > .btn-chat:active,
.file-upload-container > .btn-chat:focus {
  outline: none;
  box-shadow: none;
}

.file-thumbnail {
  width: min-content;
  position: relative;
  display: inline-block;
  padding-left: 1em;
  padding-right: 2em;
  margin: 0.5em;
}

.file-thumbnail > .btn-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 0.5em;
  height: 0.5em;
}


